<tr>
  <td>
  <%= student.name %>
  </td>
  <td>
  <%= student.lastname %>
  </td>
  <td>
  <%= student.birthdate %>
  </td>
  <td>
  <%= student.career %>
  </td>
  <td>
  <%= link_to 'Details',student  %>
  </td>
