<h2> <%= link_to "New student", controller:"students",action:"new"  %> </h2>
<br>
<center>
  <h1>
List of students
</h1>
</center>
<br>
<table width="80%" border="1" align="center">
<tr>
  <th scope="col">Name</th>
  <th scope="col">Last name</th>
  <th scope="col">Date of birth</th>
  <th scope="col">College career</th>
  <th scope="col">Details</th>
</tr>
<%= render @students %>
