<%= form_for :student, url:students_path do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :lastname %>
<%= f.text_field :lastname %>
<br>
<%= f.label :birthdate %>
<%= f.date_field :birthdate %>
<br>
<%= f.label :career %>
<%= f.text_field :career %>
<br>
<%=f.submit %>
<% end %>
